.circuitboard > svg.d3 {
	.protein.vertex > .core {
		visibility: hidden;
		pointer-events: visiblePainted;
		fill: lighten(purple, 20);
		stroke: purple;
	}

	.protein.edge {
		pointer-events: visiblePainted;
		cursor: pointer;
		stroke: purple;
		stroke-width: 2px;
		stroke-linecap: round;
	}
}
